* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

/* #cercleLogin {
    background-color: white;
    border-top: 0.1rem solid black;
    border-right: 0.1rem solid black;
    border-bottom: 0.1rem solid black;
    border-radius: 50%;
    height: 6vh;
    width: 8vw;
    text-align: center;
    position: relative;
    right: 1vw;
} */

/* #teteEscrime {
    height: auto;
    width: 4vh;
} */

nav {
    background-color: #DD2323;
}

nav img {
    height: auto;
    width: 10vh;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

