* {
    margin: 0;
    padding: 0;
}

html,
#footer {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

#header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    transition: 0.3s;
    transition-delay: 0.2s;
    padding: 0;
    margin: 0;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    background-color: #DD2323;
    width: 100%;
    z-index: 3;
}

#header.hidden {
    transform: translateY(-100%);
}

#header .liens {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#header .liens li {
    display: block;
    margin: auto;
    margin-top: 20px;
    align-self: flex-end;
    text-align: center;
    justify-content: center;
    flex-basis: 50%;
    font-size: 1rem;
}

#header .liens a {
    color: white;
    font-weight: bold;
}

#header .liens li a:hover {
    transition: all 0.5s ease;
    opacity: 0.7;
}

#header .logo {
    display: block;
    float: left;
    height: 5rem;
    padding: 5px;
    width: auto;
}

#header .menu-btn:hover {
    background-color: #f4f4f4;
}

#header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
    transform: translateY(20%);
}

#header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}

#header .menu-icon .navicon:before,
#header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

#header .menu-icon .navicon:before {
    top: 5px;
}

#header .menu-icon .navicon:after {
    top: -5px;
}

#header .menu-btn {
    display: none;
    align-items: center;
}

#header .menu-btn:checked~.liens {
    overflow-y: hidden;
	max-height: 300px; /* approximate max height */
	transition-duration: .2s;
}

#header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

#header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

#header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

#header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
#header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

#footer {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    background-color: rgba(248, 249, 250, 1) !important;
    margin-top: auto;
    width: 100%;
    text-align: center;
}
#search {
    display: flex;
    align-items: center;
}

#boutonConnexion {
    display: flex;
    align-items: center;
    filter: drop-shadow(0px 1px 3px rgb(0 0 0 / 0.4));
}

#boutonConnexion a:hover {
    transition: all 0.5s ease;
    filter: drop-shadow(0px 1px 3px rgb(0 0 0 / 0.7));
}

#boutonConnexion a:hover circle,
#boutonConnexion a:hover rect {
    transition: all 0.5s ease;
    fill: lightgrey;
}

#cercleLogin {
    background-color: white;
    border-radius: 50%;
    padding: 0.5rem;
    text-align: center;
    position: relative;
    right: 14px;
}

#cercleLogin:hover {
    background-color: #d2d3d4;
}

#teteEscrime {
    height: auto;
    width: 3vh;
}
.form-control{
    width: 100% !important;
    flex-shrink: 0;
}
.form-inline {
    display: flex;
    align-items: center;
    flex-shrink: 0;

}

.form-inline>i {
    position: relative;
    right: 20px;
}
#shutdownbutton {
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: fit-content;
    height: fit-content;
    margin: 1%;
}


h1 {
    margin-top: 4vh;
    margin-bottom: 4vh;
}

main .container {
    margin-top: 15vh;
}

#backTop {
    display: block;
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 50px;
    height: auto;
    z-index: 10;
    background-color: white;
    border-radius: 50%;
}

#backTop.hidden {
    visibility: hidden;
}

#backTop img {
    width: 100%;
    height: 100%;
}

#active.loaded {
    font-size: initial;
    text-decoration-line: underline;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
}

main {
    margin-bottom: 5vh;
}

#connexion {
    flex-basis: content;
    display: flex;
}
  
.logo img{
    height: 100%;
    width: auto;
    align-self: stretch;
}

#titre{
    position: absolute;
    top: 20px;
    left: 0; 
    right: 0; 
    margin: auto; 
    width: fit-content;
    height: fit-content;
}

.menu-btn:checked ~ #titre {
    top: 20px;
    bottom: unset;
}

@media (min-width: 48em) {
    #header{
        height: 80px;
    }
    #header .liens li, .form-inline {
      margin-top: auto;
      justify-content: center;
      display: flex;
      flex-shrink: 1;

    }
    #header .liens {
      clear: none;
      max-height: none;
      margin: auto;
      display: flex;
      flex-direction: row;
      padding: 5px 10px;
      justify-content: center;
      align-self: flex-end;
      width: unset;
    }
    #header .menu-icon {
      display: none;
    }
    #active.loaded {
        font-size: larger;
        text-decoration-line: underline;
        text-decoration-skip-ink: none;
        text-decoration-thickness: 2px;
        text-underline-offset: 8px;
        transition: all 0.5s ease;
    }
    #titre{
        visibility: hidden;
    }
  }

  #shutdownbutton svg{
    vertical-align: sub;
  }