#body {
  display: flex;
}

.scroll thead {
  background-color: red;
  display:block;
}

.scroll tbody {
  width: 100%;
  display:block;
  max-height:15vh;
  overflow-y:auto;
  background-color: purple;
}

.scroll td, .scroll th {
  width: 100px;
  text-align: center;
}

#info {
  height: 1rem;
  width: auto;
}

#intitule{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}