#body {
  display: flex;
  margin-bottom: 15vh;
  margin-top: 5vh;
}

h2 {
  margin: 0;
}

.scroll , .scroll th{
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.scroll {
  border: 1px solid black;
}

#un table thead {
  display:block;
}

#un table tbody {
  width: 100%;
  display:block;
  max-height:15vh;
  overflow-y:auto;
}

#un table td, th {
  width: 10vw;
  text-align: center;
}

#info {
  height: 1rem;
  width: auto;
}

#intitule{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  border-top: 0;
}

#un {
  flex-basis: 35%;
  margin-right: 5vw;
}

#deux {
  width: 100%;
}

#deux table tbody {
  width: 100%;
}

#deux table td, th {
  width: 10vw;
  text-align: center;
}

#deux table {
  border: 1px solid black;
  width: 100%;
}

#deux table thead > tr {
  border-bottom: 1px solid black;
}

table {
  margin-top: 5vh;
}

#test {
  display: flex;
  justify-content: space-between;
}

#test1 {
  flex-basis: 35%;
  justify-content: right;
}

tbody tr:nth-child(even) {
  background-color: #dddddd;
}