#body {
  display: flex;
  margin-bottom: 15vh;
  margin-top: 5vh;
}

h2 {
  margin: 0;
}

.scroll , .scroll th{
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.scroll {
  border: 1px solid black;
}

#un table thead {
  display:block;
}

#un table tbody {
  width: 100%;
  display:block;
  max-height:15vh;
  overflow-y:auto;
}

#un table td, th {
  width: 10vw;
  text-align: center;
}

#info {
  height: 1rem;
  width: auto;
}

#intitule{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  border-top: 0;
  background-color: rgba(255, 0, 0, 0.9);
  color: white;
}

#un {
  flex-basis: 35%;
  margin-right: 5vw;
}

#deux {
  width: 100%;
}

#deux table tbody {
  width: 100%;
}

#deux table td, th {
  width: 10vw;
  text-align: center;
}

#deux table {
  border: 1px solid black;
  width: 100%;
}

#deux table thead > tr {
  border-bottom: 1px solid black;
}

table {
  margin-top: 5vh;
}

#test {
  display: flex;
  justify-content: space-between;
}

#test1 {
  flex-basis: 35%;
  justify-content: right;
}

tbody tr:nth-child(even) {
  background-color: rgba(255, 0, 0, 0.2);
}

#dialog {
  position: absolute;
  top: 50%;
  left: 40%;
  width: 25%;
  border: 2px solid black;
}

#test > ul {
	display: flex;
  justify-content: space-evenly; 
	width: 100%;
	padding: 0%;
}
#uneimage {
  width: 70%;
  height: auto;
}

#haut {
  display: flex;
  justify-content: space-between;
}

#closebtn{
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: end;

}
#role{
  display: flex;
  justify-content: center;
}
.role{
  font-size: medium;}