#formulaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 600px;
    margin: auto;
}


#formulaire2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label, label{
    display: block;
    font-weight: bold;
    color: #555;
    margin-bottom: 8px;
}

.form-group input , #test{
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.btn-submit {
    background-color: #3498db;
    color: #fff;
    padding: 14px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #2980b9;
}

#test > ul {
	display: flex;
    justify-content: space-between;
	width: 100%;
	padding: 0%;
}

#categorie {
    flex-basis: 100%;
}

#button {
    width: 100%;
}
