#recap > tbody tr:nth-child(even) {
    background-color: rgba(255, 0, 0, 0.2);
}

#recap {
    border: 1px solid black;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    width: 100%;
}

#recap > thead > tr {
    border-bottom: 1px solid black;
}

#recap td>a {
    display: block;
    width: 100%;
    text-decoration: underline;
}

#recap > thead tr:first-child {
    white-space: nowrap;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
}

#retour button {
    margin-bottom: 2%;
}