#body {

  margin-bottom: 20vh;
}

#info {
  height: 1rem;
  width: auto;
}

#intitule{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;

}

table {
  margin-top: 5vh;
  border: 1px solid black;
    width: 100%;
  }
  
table tbody {
    width: 100%;
  }

table td, th {
    text-align: center;
  }
  
table td{
    padding: 5px;
    border-bottom: 1px solid black;
}

table {
    border: 1px solid black;
  }
  
  table thead > tr {
    border-bottom: 1px solid black;
  }


.styled {
    background-color: rgb(0, 100, 220);
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 60%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.styled:not(:disabled):hover,
.styled:not(:disabled):focus {
  outline: 0;
  background-color: rgba(0, 100, 255, 1);
  box-shadow: 0 0 0 2px rgba(0,0,0,.2);
}

.styled:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}