#EscrimeInformation{
    height:auto;
    width: 30vw;
    margin-left: 3vw;
}
article>div{
    display: flex;
    flex-wrap: nowrap;
}
h3{
    text-align: center;
}
p{
    width: 100%;
    text-align: justify;
    margin-top: 3em;
}
h1{
    margin-top: 4vh;
    margin-bottom: 4vh;
}

#arme{
    height: auto;
    width: 30vw;
    margin-left: 5vh;
}
article>ul>li>div{
    display: flex
}

article>ul {
    padding: 0;
}

article>ul>li {
    text-align: center;
}
