* {
    margin: 0;
    padding: 0;
    text-align: center;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    padding: 1%;
}

body>* {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

body *:not(#message, #message *, #retour) {
    pointer-events: none;
    user-select: none;
  }

#informations {
    flex-basis: 10%;
}

#informations>*:not(span) {
    margin: 2%;
}

.tireur {
    flex-basis: 45%;
}

.tireur .points {
    font-size: x-large;
    cursor: pointer;
}

.tireur div p {
    align-self: center;
}

.tireur div span {
    font-size: 10vh;
    align-self: flex-end;
}

.tireur .moins {
    margin-bottom: 2vh;
}

.tireur>span {
    font-size: 8vh;
}

.tireur div {
    border-radius: 45px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

.tireur>div:first-of-type {
    flex-basis: 60%;
    background-color: #afe3ff;
}

.tireur>div:last-of-type {
    flex-basis: 20%;
    background-color: #ffafaf;
}

#informations>span {
    border: 1px black solid;
    flex-grow: 1;
    align-self: center;
}

#informations>div {
    display: flex;
    flex-direction: column;
    height: 12vh;
    background-color: antiquewhite;
    border-radius: 10px;
    justify-content: space-around;
}

#message, aside{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 5%;
}

#message {
    font-size: 10vh;
    user-select: none;
}
#message button{
    font-size: 7vh;
}


#message form, #message form *{
    display: inline-block;
}

.btn-primary{
    animation: shine 2s infinite;
}

aside{
    display: none;
    border: 2px solid black;
}

aside form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    font-size: 3rem;
    flex-basis: 100%;
}

aside .form-group{
    margin-bottom: 2rem;
}

aside input{
    width: 100%;
}

aside > * button{
    height: 4rem;
}

aside > button{
    position: absolute;
    top: 5px;
    right: 5px;
}

aside.visible{
    display: unset;
}

#retour {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 3rem;
    cursor: pointer;
}