main {
    margin-top: 2.5vh;
    margin-bottom: 15vh;
}

h1 {
    margin-bottom: 2.5vh;
}

.termine {
    border: 5px solid cornflowerblue;
    background-color: rgba(100, 148, 237, 0.238494462);
}

.encours {
    border: 5px solid green;
    background-color: rgba(0, 128, 0, 0.238494462);
}

.avenir {
    border: 5px solid orange;
    background-color: rgba(265, 165, 0, 0.238494462);
}

#gros>* {
    flex-basis: 45%;
    margin: 2%;
    display: block;
}

#gros>a>div {
    height: 100%;
    width: 100%;
    transition: all 0.5s ease-in-out;
}

#gros>a:hover>div {
    border-radius: 45px;
}

.petit>div {
    display: flex;
    justify-content: space-around;
    margin-left: 1vw;
    margin-right: 1vw;
}

.petit>div:not(.head, .foot) {
    justify-content: space-between;
}

.petit>div:not(.head, .foot) p:first-child,
.petit>div:not(.head, .foot) p:last-child {
    width: 30%;
    overflow-wrap: break-word;
}

.petit>div:not(.head, .foot) p:first-child {
    text-align: left;
}

.petit>div:not(.head, .foot) p:last-child {
    text-align: right;
}

.head {
    border-bottom: 1px solid gray;
}

p {
    margin-top: 1rem;
    font-size: 1.5rem;
}

#gros {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.status {
    display: flex;
    margin-bottom: 2.5vh;
    align-items: center;
}

th,
td {
    padding: 5px;
    border: 1px solid black;
}

tr:not(:last-of-type) td:last-of-type {
    width: 10%;
}

table {
    margin-bottom: 2%;
    text-align: center;
}

tbody {
    border: 1px solid black;
}

th:last-child {
    font-weight: normal;
}

tr:not(:last-child) td:nth-child(3) {
    font-weight: bold;
}

.gagnant {
    font-weight: bold;
}

p:first-of-type.gagnant::before {
    content: "\01F3C5";
}

p:last-of-type.gagnant::after {
    content: "\01F3C5";
}

#gros>a:has(>.petit.dontshow) {
    display: none !important;
}

#rechercheTireur {
    margin-left: auto;
    transition: all 0.3s;
    border-radius: 5px;
    --width: 10vw;
    width: var(--width);
    min-width: max-content;
    text-align: left;
}

#rechercheTireur:hover, #rechercheTireur:focus {
    width: calc(var(--width) * 2);
}