main {
    margin-top: 2.5vh;
    margin-bottom: 15vh;
}

h1 {
    margin-bottom: 2.5vh;
}

.termine{
    border: 5px solid cornflowerblue;
    background-color: rgba(100, 148, 237, 0.238494462);
}
.encours{
    border: 5px solid green;
    background-color: rgba(0, 128, 0, 0.238494462);
}
.avenir{
    border: 5px solid orange;
    background-color: rgba(265, 165, 0, 0.238494462);
}
.petit {
    flex-basis: 45%;
    margin: 2%;
}

.petit > p {
    margin-left: 1vw;
}

.petit > div {
    display: flex;
    justify-content: center;
    margin-left: 1vw;
    margin-right: 1vw;
}

.petit > div:not(.head,.foot) {
    justify-content: space-between;
}

.head {
    border-bottom: 1px solid gray;
}

p {
    margin-top: 1rem;
}

#gros {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.status {
    display: flex;
    margin-bottom: 2.5vh;
}