main {
    text-align: center;
}

#fond {
	background: radial-gradient(circle, rgba(255,125,125,1) 0%, rgba(255,192,192,1) 100%);
    border-radius: 20px;
    padding: 30px;
}

#info {
    display: flex;
    justify-content:space-evenly;
    margin-bottom: 5vh;
}

#infoP,#infoE,#historique{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}


.informations, #infoE > li{
    display: flex;
    justify-content: center;
    color: black;
    flex-basis: 50%;
}

#infoP > h2, #infoE > h2{
    flex-basis: 100%;
}
#infoP #infoE {
   display: flex;
}
.test{
    display: flex;
    flex-basis: 100%;
    justify-content: space-evenly;
}
.informations>li{
    flex-basis: 50%;
    flex-wrap: wrap;
}

.test2{
    width: 2rem;
    margin-top: 0.5rem;
    padding: 0%;
}
.informations{
    height: 35vh;
    flex-wrap: wrap;
    margin-top: 0.75rem ;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
}
.test2>p{
    margin-top: 1rem;
    font-weight: lighter;
}

