<!doctype html>
<html lang="fr">

<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png')}}"/>
    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    <!-- Custom styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css')}}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    {% endblock %}

    <title>Compétition ESCRIME</title>
    {% endblock %}
</head>

<body>
    <header id="header">
        <!-- Fixed navbar -->
        <a onclick="escrimeur()" class="logo"><img id="img" src="{{ url_for('static', filename='images/escrimeurNav.png')}}" alt="un escrimeur qui pointe son épée"></a>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <h2 id="titre">{{ request.path }}</h2>
        <ul class="liens">
            <li id="pageaccueil">
                <a href="{{ url_for('home') }}" {% if request.path == url_for('home') %} id="active" {% endif %}>Accueil</a>
            </li>
            <li id="pageinfos">
                <a href ="{{ url_for('informations') }}" {% if request.path == url_for('informations') %} id="active" {% endif %}>Informations générales</a>
            </li>
            {% if current_user.is_authenticated %}
            {% if current_user.is_admin() %}
            <li id="pagecreecompet">
                <a href="{{ url_for('creation_competition') }}" {% if request.path == url_for('creation_competition') %} id="active" {% endif %}>Créer une compétition</a>
            </li>
            {% endif %}
            {% endif %}
            <li id="search">
                <form method="POST" action="{{ url_for('search_compet') }}" class="form-inline " role="search">
                    <input class="form-control form-control-sm mr-3" type="search" placeholder="Rechercher" aria-label="Rechercher" name="searched">
                    <i class="fas fa-search" aria-hidden="true"></i>
                </form>
            </li>
            {% if current_user.is_authenticated %}
            <li id="connexion">
                <svg id="boutonConnexion" width="160" height="70">
                    <a href="{{ url_for('profil') }}">
                        <g>
                            <rect width="120" height="40" x="5" y="15" rx="20" ry="20" fill="white"></rect>
                            <circle cx="125" cy="35" r="30" fill="white"></circle>
                        </g>
                        <text x="60" y="35" text-anchor="middle" dominant-baseline="central" fill="black">
                            {{ current_user.prenom }}
                        </text>
                        <image href="{{ url_for('static', filename='images/escrimeur.png')}}" alt="logo escrimeur" width="40" height="40" x="105" y="15"></image>
                    </a>
                </svg>
            </li>
            <li id="deconnexion">
                <a href="{{ url_for('deconnexion') }}">
                    <p>Déconnexion</p>
                    <svg fill="#FFF" height="32px" width="32px" viewBox="0 0 489.9 489.9">
                        <g>
                            <path d="M468.3,255.8c0.1-0.1,0.1-0.1,0.2-0.2c0.3-0.4,0.6-0.7,0.8-1.1c0.1-0.1,0.1-0.2,0.2-0.3c0.2-0.4,0.5-0.8,0.7-1.2     c0-0.1,0.1-0.2,0.1-0.2c0.2-0.4,0.4-0.8,0.6-1.3c0-0.1,0-0.1,0.1-0.2c0.2-0.4,0.3-0.9,0.5-1.4c0-0.1,0-0.2,0.1-0.2     c0.1-0.5,0.3-0.9,0.3-1.4c0-0.2,0-0.3,0.1-0.5c0.1-0.4,0.1-0.8,0.2-1.2c0.1-0.6,0.1-1.1,0.1-1.7c0-0.6,0-1.1-0.1-1.7     c0-0.4-0.1-0.8-0.2-1.2c0-0.2,0-0.3-0.1-0.5c-0.1-0.5-0.2-0.9-0.3-1.4c0-0.1,0-0.2-0.1-0.2c-0.1-0.5-0.3-0.9-0.5-1.4     c0-0.1,0-0.1-0.1-0.2c-0.2-0.4-0.4-0.9-0.6-1.3c0-0.1-0.1-0.2-0.1-0.2c-0.2-0.4-0.4-0.8-0.7-1.2c-0.1-0.1-0.1-0.2-0.2-0.3     c-0.3-0.4-0.5-0.8-0.8-1.1c-0.1-0.1-0.1-0.1-0.2-0.2c-0.4-0.4-0.7-0.9-1.2-1.3l-98.9-98.8c-6.7-6.7-17.6-6.7-24.3,0     c-6.7,6.7-6.7,17.6,0,24.3l69.6,69.6H136.8c-9.5,0-17.2,7.7-17.2,17.1c0,9.5,7.7,17.2,17.2,17.2h276.8l-69.1,69.1     c-6.7,6.7-6.7,17.6,0,24.3c3.3,3.3,7.7,5,12.1,5s8.8-1.7,12.1-5l98.3-98.3C467.5,256.6,467.9,256.2,468.3,255.8z"/>
                            <path d="M110.7,34.3h128c9.5,0,17.2-7.7,17.2-17.1c0-9.5-7.7-17.2-17.2-17.2h-128C59.4,0,17.6,41.8,17.6,93.1v303.7     c0,51.3,41.8,93.1,93.1,93.1h125.9c9.5,0,17.2-7.7,17.2-17.1c0-9.5-7.7-17.2-17.2-17.2H110.7c-32.4,0-58.8-26.4-58.8-58.8V93.1     C52,60.6,78.3,34.3,110.7,34.3z"/>
                        </g>
                    </svg>
                </a>
            </li>
            {% else %}
            <li id="connexion">
                <svg id="boutonConnexion" width="160" height="70">
                    <a href="{{ url_for('connexion') }}">
                        <g>
                            <rect width="120" height="40" x="5" y="15" rx="20" ry="20" fill="white"></rect>
                            <circle cx="125" cy="35" r="30" fill="white"></circle>
                        </g>
                        <text x="60" y="35" text-anchor="middle" dominant-baseline="central" fill="black">
                            Connexion
                        </text>
                        <image href="{{ url_for('static', filename='images/escrimeur.png')}}" alt="logo escrimeur" width="40" height="40" x="105" y="15"></image>
                    </a>
                </svg>
            </li>
            {% endif %}
        </ul>
    </header>
    
        <!-- Your page content -->
    <main class="flex-shrink-0">
        <div class="container">

            {% block content %}

            {% endblock %}
        </div>
        <a href="#" id="backTop" class="hidden">
            <p>Retour en haut</p>
            <svg fill="#000" viewBox="0 0 492.002 492.002">
                <g>
                    <path d="M484.136,328.473L264.988,109.329c-5.064-5.064-11.816-7.844-19.172-7.844c-7.208,0-13.964,2.78-19.02,7.844    L7.852,328.265C2.788,333.333,0,340.089,0,347.297c0,7.208,2.784,13.968,7.852,19.032l16.124,16.124    c5.064,5.064,11.824,7.86,19.032,7.86s13.964-2.796,19.032-7.86l183.852-183.852l184.056,184.064    c5.064,5.06,11.82,7.852,19.032,7.852c7.208,0,13.96-2.792,19.028-7.852l16.128-16.132    C494.624,356.041,494.624,338.965,484.136,328.473z"/>
                </g>
            </svg>
        </a>
    </main>

    <footer id="footer" class="footer py-3 bg-light">
        <div class="container">
            {% if current_user.is_authenticated %}
            {% if current_user.is_admin() %}
            <a onclick="shutdown()" id="shutdownbutton">
                <button class="button-shutdown btn btn-warning" role="button">
                    <svg width="20px" height="20px" viewBox="0 0 554.2 554.199" fill="#000">
                        <g>
                            <path d="M538.5,386.199L356.5,70.8c-16.4-28.4-46.7-45.9-79.501-45.9c-32.8,0-63.1,17.5-79.5,45.9L12.3,391.6   c-16.4,28.4-16.4,63.4,0,91.8C28.7,511.8,59,529.3,91.8,529.3H462.2c0.101,0,0.2,0,0.2,0c50.7,0,91.8-41.101,91.8-91.8   C554.2,418.5,548.4,400.8,538.5,386.199z M316.3,416.899c0,21.7-16.7,38.3-39.2,38.3s-39.2-16.6-39.2-38.3V416   c0-21.601,16.7-38.301,39.2-38.301S316.3,394.3,316.3,416V416.899z M317.2,158.7L297.8,328.1c-1.3,12.2-9.4,19.8-20.7,19.8   s-19.4-7.7-20.7-19.8L237,158.6c-1.3-13.1,5.801-23,18-23H299.1C311.3,135.7,318.5,145.6,317.2,158.7z"/>
                        </g>
                    </svg>
                    fermer l'application
                </button>
            </a>
            {% endif %}
            {% endif %}
            <span class="text-muted">IUT'O - Titouan COULON, Noam DOUCET, Anthony GARDELLE, Arthur GOUDAL, Killian 
                OUZET</span>
            <a href="https://github.com/coulontitouan/escrime" id="githublogo" target="_blank">
                <svg height="32" aria-hidden="true" viewBox="0 0 16 16" width="32" data-view-component="true">
                    <path d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z"></path>
                </svg>
            </a>
        </div>
    </footer>
    {% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
    <script>

        let elem = document.getElementById("img");
        let a = document.getElementsByClassName("logo")[0];
        coords = elem.getBoundingClientRect()
        //console.log(coords)
        let barre = document.createElement('span')
        barre.setAttribute("id", "barre");
        barre.style.cssText = "position:fixed; z-index: 5";
        barre.style.left = -41 + coords.width + "px";
        barre.style.top = 2+ coords.top + "px";
        document.querySelector('header').appendChild(barre)
        //console.log(barre.getBoundingClientRect())
    
    function shutdown() {
        let texte =  "Vous êtes sur le point de fermer l'application.\r\n" +
                    "La compétition et les résultats seront sauvegardées.\r\n" +
                    "Êtes-vous sûr(e) ?"
        let reponse = confirm(texte)
        if(reponse){
            alert("Fermeture de l'application.")
            location.href = "/shutdown"
        }
    }


    function animate({duration, draw, timing}) {

        let start = performance.now();

        requestAnimationFrame(function animate(time) {
        let timeFraction = (time - start) / duration;
        if (timeFraction > 1) timeFraction = 1;

        let progress = timing(timeFraction)

        draw(progress);

        if (timeFraction < 1) {
            requestAnimationFrame(animate);
        }

        });
    }
    function escrimeur() {
        animate({
        duration: 2000,
        timing: function(timeFraction) {
          return timeFraction;
        },
        draw: function(progress) {
          barre.style.width = progress * 95 + '%';
        }
      });
    }
    
      let upArrow = document.querySelector('#backTop');

      let header = document.querySelector("#header");

      let title = document.querySelector('#titre');

      let lastScrollValue = 0;

      document.addEventListener("scroll", (event) => {
          let top = document.documentElement.scrollTop;
          let scrollPercentage = (window.pageYOffset * 100) / (document.body.scrollHeight - window.innerHeight)

          if (lastScrollValue < top) {
              header.classList.add("hidden");
              document.getElementById("menu-btn").checked = false;
          } else {
              header.classList.remove("hidden");
          }
          if (scrollPercentage > 10) {
            upArrow.classList.remove("hidden");
          } else {
            upArrow.classList.add("hidden");
          }
          lastScrollValue = top;
      });
      function titlePage(path) {
        if (path == "/"){
            return "Accueil"
        }else{
            path = path.slice(1)
        }
        let words = path.split(/[-/]/);
        words = words.map(function (word) {
            return word.charAt(0).toUpperCase() + word.slice(1);
        });
        let res = words.join(' ');
        return res;
    }
      document.addEventListener('DOMContentLoaded', function() {
        let currentPage = document.getElementById('active');
        if (currentPage){
            title.textContent = titlePage(title.textContent);
            currentPage.classList.add("loaded");
        }
        }, false);
    </script>
    {% endblock %}
</body>

</html>