<!doctype html>
<html lang="fr">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
            <!-- Custom styles -->
            <link rel="stylesheet" href="{{ url_for('static', filename='base.css')}}">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        {% endblock %}
        
        <title>Compétition ESCRIME</title>
        {% endblock %}
    </head>
    
    <body>
        <header>
            <!-- Fixed navbar -->
            <img src="{{ url_for('static', filename='images/escrimeurNav.png')}}" alt="un escrimeur qui pointe son épée">
            <nav>
                <ul>
                    <li>
                        <ul class="liens">
                            <li>
                                <a href="{{ url_for('home') }}">Accueil</a>
                            </li>
                            <li>
                                <a href="#">La compétition</a>
                            </li>
                            <li>
                                <a href="#">Les tireurs</a>
                            </li>
                            <li>
                                <a href ="{{ url_for('informations') }}"> informations generales</a>
                            </li>
                        </ul>
                    </li>
                    <li id = "navbar2">
                        <form class="form-inline ">
                            <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
                                aria-label="Search">
                                <i class="fas fa-search" aria-hidden="true"></i>
                        </form>
                        <a id="blocLogin" href="#">
                            <button type="button" class="btn btn-light buttonLogin">Connexion</button>
                            <div id="cercleLogin" >
                                <img id= "teteEscrime"  src="{{ url_for('static', filename='images/escrimeur.png')}}" alt="logo escrimeur">
                            </div>
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
    
        <!-- Your page content -->
    <main class="flex-shrink-0">
        <div class="container">
        
        {% block content %}
        
        {% endblock %}
        </div>
    </main>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">IUT'O - Titouan COULON, Noam DOUCET, Anthony GARDELLE, Arthur GOUDAL, Killian OUZET</span>
        </div>
    </footer>
    
    {% block scripts %}
        <!-- Optional JavaScript -->
        {{ bootstrap.load_js() }}
    {% endblock %}
    </body>
</html>