<!doctype html>
<html lang="fr">

<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    <!-- Custom styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css')}}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    {% endblock %}

    <title>Compétition ESCRIME</title>
    {% endblock %}
</head>

<body>
    <header id="header">
        <!-- Fixed navbar -->
        <img src="{{ url_for('static', filename='images/escrimeurNav.png')}}" alt="un escrimeur qui pointe son épée">
        <nav>
                <ul>
                    <li>
                        <ul class="liens">
                            <li>
                                <a href="{{ url_for('home') }}">Accueil</a>
                            </li>
                            <li>
                                <a href ="{{ url_for('informations') }}"> informations generales</a>
                            </li>
                        </ul>
                    </li>
                    <li id = "navbar2">
                        <form class="form-inline ">
                            <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
                                aria-label="Search">
                                <i class="fas fa-search" aria-hidden="true"></i>
                        </form>
                        {% if current_user.is_authenticated %}
                        <svg width="320" height="80" id="boutonConnexion">
                            <a href="{{ url_for('profil') }}">
                                <g>
                                    <rect x="15" y="20" width="120" height="40" rx="20" ry="20" fill="white"/>
                                    <circle cx="135" cy="40" r="30" fill="white"/>
                                </g>
                                <text x="70" y="40" fill="black" text-anchor="middle" dominant-baseline="middle">
                                    Profil
                                </text>
                                <image x="115" y="20" href="{{ url_for('static', filename='images/escrimeur.png')}}" alt="logo escrimeur" width="40" height="40"/>
                            </a>
                        </svg>
                        {% else %}
                        <svg width="320" height="80" id="boutonConnexion">
                            <a href="{{ url_for('connexion') }}">
                                <g>
                                    <rect x="15" y="20" width="120" height="40" rx="20" ry="20" fill="white"/>
                                    <circle cx="135" cy="40" r="30" fill="white"/>
                                </g>
                                <text x="70" y="40" fill="black" text-anchor="middle" dominant-baseline="middle">
                                    Connexion
                                </text>
                                <image x="115" y="20" href="{{ url_for('static', filename='images/escrimeur.png')}}" alt="logo escrimeur" width="40" height="40"/>
                            </a>
                        </svg>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </header>
    
        <!-- Your page content -->
    <main class="flex-shrink-0">
        <div class="container">

            {% block content %}

            {% endblock %}
        </div>
        <a href="#" id="backTop" class="hidden"><img src="{{url_for('static', filename='images/redArrow.png')}}" alt=""></a>
    </main>

    <footer id="footer" class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">IUT'O - Titouan COULON, Noam DOUCET, Anthony GARDELLE, Arthur GOUDAL, Killian
                OUZET</span>
        </div>
    </footer>
    {% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
      <script>
      let btn = document.querySelector('#backTop');

      let header = document.querySelector("#header");

      let lastScrollValue = 0;

      document.addEventListener("scroll", (event) => {
          let top = document.documentElement.scrollTop;
          scrollPercentage = (window.pageYOffset * 100) / (document.body.scrollHeight - window.innerHeight)

          if (lastScrollValue < top) {
              header.classList.add("hidden");
          } else {
              header.classList.remove("hidden");
          }
          if (scrollPercentage > 10) {
              btn.classList.remove("hidden");
          } else {
              btn.classList.add("hidden");
          }
          lastScrollValue = top;
      });
    </script>
    {% endblock %}
</body>

</html>