{% extends 'base.html' %}
{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename = 'competition.css') }}" />
{% endblock %}
{% block content %}
  <h1>{{ competition.nom }}</h1>
  {% if current_user.is_authenticated %}
    {% if competition.peut_generer_phase_suivante() and current_user.is_admin() %}
      <a href="{{ url_for('phase_suivante', id_compet = competition.id, finie = False) }}"><button class="btn btn-primary" type="button">Générer phase suivante</button></a>
    {% elif competition.est_finie() %}
      <a href="{{ url_for('phase_suivante', id_compet = competition.id, finie = True) }}"><button class="btn btn-primary" type="button">Clôturer la compétition</button></a>
    {% endif %}
  {% endif %}
  <div id="body">
    <div id="un">
      {% if not competition.est_cloturee %}
      {% if competition.nb_phases() != 0 %}
        {% if competition.nb_poules() < competition.nb_phases() %}
          <h2>Phase à élimination directe :</h2>
          {% for phase in competition.get_phases_tableau() %}
            {% set id_phase = competition.nb_phases_finales() + competition.nb_poules() - loop.index + 1 %}
            <a href="{{ url_for('affiche_poule', id_compet = competition.id, id_poule = id_phase) }}">
              <table class="scroll">
                <thead>
                  <tr>
                    <th id="intitule" colspan="100%">{{ phase.libelle }} - {{ phase.nb_tireurs() }} Tireurs</th>
                  </tr>
                  <tr>
                    {% if competition.est_individuelle %}
                      <th>Prénom</th>
                      <th>Nom</th>
                    {% else %}
                      <th style="width: 50%;">Nom</th>
                      <th>Équipe</th>
                    {% endif %}
                    <th>Match</th>
                  </tr>
                </thead>
                <tbody>
                  {% for tireur in phase.get_tireurs() %}
                    <tr>
                      {% if competition.est_individuelle %}
                        <td>{{ tireur.prenom }}</td>
                        <td>{{ tireur.nom }}</td>
                      {% else %}
                        <td style="width: 50%;">Équipe de {{ tireur.nom }}</td>
                        <td>{{ rq.get_id_groupe(competition.id, tireur.num_licence) }}</td>
                      {% endif %}
                      <td>{{ tireur.get_id_match(competition.id, phase.id) }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </a>
          {% endfor %}
        {% endif %}
        {% if competition.est_individuelle %}
          <h2>Poules :</h2>
          {% for poule in competition.get_poules() %}
            <a href="{{ url_for('affiche_poule', id_compet = competition.id, id_poule = loop.index) }}">
              <table class="scroll">
                <thead>
                  <tr>
                    <th id="intitule" colspan="100%">Poule {{ poule.id }} - {{ poule.nb_tireurs() }} Tireurs - {{ poule.get_arbitre().prenom[0] }} {{ poule.get_arbitre().nom }}</th>
                  </tr>
                  <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Points</th>
                  </tr>
                </thead>
                <tbody>
                  {% for tireur_id in dicopoule.keys() %}
                    {% with tireur = get_tireur(tireur_id) %}
                      {% if tireur in poule.get_tireurs() %}
                        <tr>
                          <td>{{ tireur.prenom }}</td>
                          <td>{{ tireur.nom }}</td>
                          <td>{{ dicopoule[tireur.num_licence]['touches'] }}</td>
                        </tr>
                      {% endif %}
                    {% endwith %}
                  {% endfor %}
                </tbody>
              </table>
            </a>
          {% endfor %}
        {% endif %}
      {% else %}
        <p>La compétition n'a pas encore été démarrée.</p>
        {% if current_user.is_authenticated %}
          {% if current_user.is_admin() %}
            {% if (not competition.est_individuelle and competition.get_nb_participants() >= 2) or (competition.get_nb_participants() >= 5 and (competition.get_arbitres()|length) >= 1) %}
              <a href="{{ url_for('competition_cree_poules', id_compet = competition.id) }}"><button class="btn btn-primary" type="button">Répartir les poules</button></a>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endif %}
      {% else %}
          <p>La competition est terminée</p>
      {% endif %}
    </div>
    <div id="deux">
      <div class="header-class">
        <h2>Classements :</h2>
        <button class="btn btn-primary" type="button" onclick="changeClassement()">Changer Classement</button>
        {% if current_user.is_authenticated %}
          {% if current_user.is_admin() %}
            <form action="{{ url_for('affichage_grand_ecran', id_compet = competition.id) }}" method="get" target="_blank">
              <button id="affichageGE" type="submit" class="btn btn-success">Affichage grand ecran</button>
            </form>
          {% endif %}
          {% if (competition.get_poules()|length) == 0 %}
            {% if competition.est_individuelle %}
              {% if not current_user.is_admin() %}
                {% if competition.est_inscrit(current_user.num_licence) %}
                  <form action="{{ url_for('desinscription_competition', id_compet = competition.id) }}">
                    <button class="btn btn-success">Se désinscrire ({{ competition.get_type_inscription(current_user.num_licence) }})</button>
                  </form>
                {% else %}
                  {% if current_user.peut_sinscrire(competition.id) %}
                    <form action="{{ url_for('inscription_competition', id_compet = competition.id, arbitre = False) }}">
                      <button class="btn btn-success">S'inscrire (Tireur)</button>
                    </form>
                  {% endif %}
                  <form action="{{ url_for('inscription_competition', id_compet = competition.id, arbitre = True) }}">
                    <button class="btn btn-secondary">S'inscrire (Arbitre)</button>
                  </form>
                {% endif %}
              {% endif %}
            {% else %}
              {% if current_user.is_admin() %}
                <a href="{{ url_for('creation_equipe', id_compet = competition.id) }}"><button id="openbtn" type="button" class="btn btn-success">Créer une équipe</button></a>
              {% else %}
                {% if competition.est_inscrit(current_user.num_licence) %}
                  <form action="{{ url_for('desinscription_competition', id_compet = competition.id) }}">
                    <button class="btn btn-success">Se désinscrire ({{ competition.get_type_inscription(current_user.num_licence) }})</button>
                  </form>
                {% else %}
                    <form action="{{ url_for('inscription_competition', id_compet = competition.id, arbitre = True) }}">
                      <button class="btn btn-secondary">S'inscrire (Arbitre)</button>
                    </form>
                {% endif%}
              {% endif %}
            {% endif %}
          {% endif %}
        {% endif %}
      </div>
      <table id="Cprovisoire" class="scroll">
        <thead>
          <tr>
            <th id="intitule" colspan="100%">
              {% if not competition.est_cloturee %}
                Classement provisoire</th>
              {% else %}
                Classement final
              {% endif %}
            </th>
          </tr>
          <tr>
            <th>N°</th>
            {% if competition.est_individuelle %}
            <th>Prénom</th>
            {% endif %}
            <th>Nom</th>
            <th>Club</th>
            {% if not competition.est_individuelle %}
            <th>Équipe</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% if (dico.keys()|length) == 0 %}
            <tr>
              <td colspan="100%">Aucun match joué</td>
            </tr>
          {% else %}
            {% if competition.est_individuelle %}
              {% for num_tireur in dico.keys() %}
                {% set tireur = get_tireur(num_tireur) %}
                <tr class="clickable-row" onclick="window.location = '{{ url_for('affiche_escrimeur', id_escrimeur = num_tireur, id_competition = competition.id) }}'">
                  <td>{{ dico[num_tireur]['rang']*-1 if dico[num_tireur]['rang'] != 0 else loop.index }}</td>
                  <td>{{ tireur.prenom }}</td>
                  <td>{{ tireur.nom }}</td>
                  <td>{{ tireur.club.nom }}</td>
                </tr>
              {% endfor %}
            {% else %}
              {% for num_tireur in dico.keys() %}
                {% set tireur = get_tireur(num_tireur) %}
                {% if rq.get_est_chef(competition.id,num_tireur) %}
                  <tr class="clickable-row" onclick="window.location = '{{ url_for('affiche_escrimeur', id_escrimeur = num_tireur, id_competition = competition.id) }}'">
                    <td>{{ loop.index }}</td>
                    <td>Équipe de {{ tireur.nom }}</td>
                    <td>{{ tireur.club.nom }}</td>
                    <td>{{ rq.get_id_groupe(competition.id, num_tireur) }}</td>
                  </tr>
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endif %}
        </tbody>
      </table>
      <table id="Cnational" class="scroll" style="display:none;">
        <thead>
          <tr>
            <th id="intitule" colspan="100%">Têtes de série</th>
          </tr>
          <tr>
            <th>N°</th>
            {% if competition.est_individuelle %}
            <th>Prénom</th>
            <th>Nom</th>
            {% else %}
            <th>Nom</th>
            <th>Équipe</th>
            {% endif %}
            <th>Club</th>
            <th>Points</th>
          </tr>
        </thead>
        <tbody>
          {% if competition.est_individuelle %}
            {% macro affiche_ligne(tireur, numero="NC") %}
              <tr>
                <td>{{ numero }}</td>
                <td>{{ tireur.prenom }}</td>
                <td>{{ tireur.nom }}</td>
                <td>{{ tireur.club.nom }}</td>
                <td>{{ tireur.get_classement(competition.id_arme, competition.id_categorie).points if numero == "NC" else 0}}</td>
                {% if current_user.is_authenticated and current_user.is_admin() and competition.get_poules()|length == 0 %}
                  <td>
                    <form action="{{ url_for('desinscription_competition', id_compet = competition.id, id_tireur = tireur.num_licence) }}">
                      <button type="submit" class="btn btn-danger">Retirer</button>
                    </form>
                  </td>
                {% endif %}
              </tr>
            {% endmacro %}

            {% if competition.get_tireurs_order_by_rang()|length == 0 and competition.get_tireurs_sans_rang()|length == 0 %}
              <tr>
                <td colspan="100%">Aucun tireur inscrit</td>
              </tr>
            {% else %}
              {% for tireur in competition.get_tireurs_order_by_rang() %}
                {{ affiche_ligne(tireur, loop.index) }}
              {% endfor %}

              {% for tireur in competition.get_tireurs_sans_rang() %}
                {{ affiche_ligne(tireur) }}
              {% endfor %}
            {% endif %}
          {% else %}
            {% if competition.get_equipes_classees().keys()|length == 0 %}
              <tr>
                <td colspan="100%">Aucune équipe inscrite</td>
              </tr>
            {% else %}
              {% set dico = competition.get_equipes_classees() %}
              {% for id_chef in dico.keys() %}
                {% set chef = get_tireur(id_chef) %}
                <tr>
                  <td>{{ loop.index if dico[id_chef] != 0 else "NC" }}</td>
                  <td>Équipe de {{ chef.nom }}</td>
                  <td>{{ rq.get_id_groupe(competition.id, id_chef) }}</td>
                  <td>{{ chef.club.nom }}</td>
                  <td>{{ dico[id_chef] if dico[id_chef] != 0 else 0 }}</td>
                </tr>
              {% endfor %}
            {% endif %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
  <script>
    function changeClassement() {
      var x = document.querySelector('#Cprovisoire')
      var y = document.querySelector('#Cnational')
      if (x.style.display === 'none') {
        x.style.display = 'table'
        y.style.display = 'none'
      } else {
        x.style.display = 'none'
        y.style.display = 'table'
      }
    }
  </script>
{% endblock %}
