{% extends 'base.html' %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='competition.css')}}">
{% endblock %}
{% block content %}
    <!-- Ajoutez ceci à l'endroit où vous souhaitez afficher les messages flash -->
    {% for message in get_flashed_messages(with_categories=true)  %}
    <div class="alert alert-{{ message[0] }} alert-dismissible fade show" role="alert">
        {{ message[1] }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    
    <h1>{{ competition.nom }}</h1>
    <div id="body">  
        <div id="un">
            <h2>Poules :</h2>
            {% if competition.nb_phases() != 0 %}
            {%if competition.nb_poules() < competition.nb_phases()%}
            {%for phase in competition.get_phases_tableau() %}
            <table class="scroll">
                <thead>
                    <tr>
                        {% set id_phase = loop.index + competition.nb_poules() %}
                        <th id="intitule" colspan="3"> {{phase.libelle}} - {{ phase.nb_tireurs() }} Tireurs <a href="{{url_for('affiche_poule', id_compet = competition.id , id_poule = id_phase )}}"><img id="info" src="../static/images/i.png" alt=""></a></th>
                    </tr>
                    <tr>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Match</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tireur in phase.get_tireurs() %}
                        <tr>
                            <td>{{ tireur.prenom }}</td>
                            <td>{{ tireur.nom }}</td>
                            <td> {{tireur.get_id_match(competition.id, phase.id)}} </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {%endfor%}
            {%endif%}
            {% for poule in competition.get_poules() %}
                <table class="scroll" style="display:table;">
                    <thead>
                        <tr>
                            <th id="intitule" colspan="3">Poule {{ poule.id }} - {{ poule.nb_tireurs() }} Tireurs - {{ poule.get_arbitre().prenom[0] }} {{ poule.get_arbitre().nom }} <a href="{{url_for('affiche_poule', id_compet = competition.id , id_poule = loop.index)}}"><img id="info" src="../static/images/i.png" alt=""></a></th>
                        </tr>
                        <tr>
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th>Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tireur in poule.get_tireurs() %}
                            <tr>
                                <td>{{ tireur.prenom }}</td>
                                <td>{{ tireur.nom }}</td>
                                <td>{{ dico[tireur.num_licence]["touches"] }}</td>

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
            {% else %}
                <p>Aucune poule créée</p>
                {% if current_user.is_authenticated %}
                {% if current_user.is_admin() %}
                    <a href="{{url_for('competition_cree_poules', id_compet=competition.id)}}"><button class="btn btn-primary" type="button">Répartir les poules</button></a>
                {% endif %}
                {% endif %}
            {% endif %}
        </div>
        <div id="deux">
            <div class="header-class">
                <h2>Classements :</h2>
                <button class="btn btn-primary" type="button" onclick="changeClassement()">Changer Classement</button>
                {% if current_user.is_authenticated %}
                {% if current_user.is_admin %}
                <form action="{{ url_for('affichage_grand_ecran', id_compet = competition.id) }}" method="get" target="_blank">
                    <button id="affichageGE" type="submit" class="btn btn-success">affichage grand ecran</button>
                </form>
                {% endif %}
                {% if current_user.peut_sinscrire(competition.id) %}
                <form id="test1" class="form-inline">
                    <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
                    aria-label="Search">
                    <i class="fas fa-search" aria-hidden="true"></i>
                </form>
                {% if not user %}
                <button id = "openbtn" type="button" class="btn btn-success">S'inscrire</button>
                <dialog id = "dialog" class="shadow p-3 mb-5 bg-body rounded">
                    <form action="{{ url_for('inscription_competition', id_compet = competition.id) }}" method="post" role="form">
                    <div id="haut">
                        <h2>Inscription</h2>
                        <a id = "closebtn"><img id="uneimage" src="{{ url_for('static', filename = 'images/croix.png') }}" alt=""></a>
                    </div>
                    <div class = "header-class">
                    {{ form.role }}
                    </div>
                    <button id = "openbtn" type="submit" class="btn btn-success">Confirmer</button>
                    </form>
                </dialog>
                {% else %}
                    <form action="{{ url_for('deinscription_competition', id_compet = competition.id )}}" method="post" role="form">
                        <button type="submit" class="btn btn-danger">Se désinscrire</button>
                    </form>
                {% endif %}
                {% endif %}
                {% endif %}
            </div>
            <table id="Cprovisoire" class = "scroll" style="display:table;">
                <thead>
                    <tr>
                        <th id="intitule" colspan="5">Classement provisoire</th>
                    </tr>
                    <tr>
                        <th>N°</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Club</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody>
                    {% for num_tireur in dico.keys() %}
                    {% set tireur = get_tireur(num_tireur)%}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ tireur.prenom }}</td>
                            <td>{{ tireur.nom }}</td>
                            <td>{{ tireur.club.nom }}</td>
                            <td>{{  dico[num_tireur]["victoires"] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table id="Cnational" class = "scroll" style="display:none;">
                <thead>
                    <tr>
                        <th id="intitule" colspan="5">Têtes de série</th>
                    </tr>
                    <tr>
                        <th>N°</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Club</th>
                        <th>Points nationaux</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tireur in competition.get_tireurs_order_by_rang() %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ tireur.prenom }}</td>
                            <td>{{ tireur.nom }}</td>
                            <td>{{ tireur.club.nom }}</td>
                            <td>{{ tireur.get_classement(competition.id_arme, competition.id_categorie).points }}</td>
                        </tr>
                    {% endfor %}
                    {% for tireur in competition.get_tireurs_sans_rang() %}
                        <tr>
                            <td>NC</td>
                            <td>{{ tireur.prenom }}</td>
                            <td>{{ tireur.nom }}</td>
                            <td>{{ tireur.club.nom }}</td>
                            <td>0</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>
        function changeClassement() {
            var x = document.querySelector("#Cprovisoire");
            var y = document.querySelector("#Cnational");
            if (x.style.display === "none") {
                x.style.display = "table";
                y.style.display = "none";
            } else {
                x.style.display = "none";
                y.style.display = "table";
            }
        }

    </script>
    {% endblock %}