{% extends 'base.html' %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='cree-competition.css')}}">
{% endblock %}
{% block content %}
<div id="formulaire" class="shadow p-3 mb-5 bg-body rounded">
    <h1 class="text-center mb-4">Créer une compétition</h1>
    <form id="formulaire2" action="{{ url_for('creation_competition') }}" method="post" role="form">
        <div id="gauche">
            <div class = "form-group">
                {{ form.nom_lieu.label }} {{ form.nom_lieu }}
            </div>
            <div class = "form-group">
                {{ form.ville_lieu.label }} {{ form.ville_lieu }}
            </div>
            <div class = "form-group">
                {{ form.date_competition.label }} {{ form.date_competition }}
            </div>
            <div class = "form-group">
                {{ form.coefficient_competition.label }} {{ form.coefficient_competition }}
            </div>
            <div class="form-group" id = "radio">
                {{ form.type_competition.label }} {{ form.type_competition }}
            </div>
        </div>
        <div id="droite">
            <div class = "form-group">
                {{ form.adresse_lieu.label }} {{ form.adresse_lieu }}
            </div>
            <div class = "form-group">
                {{ form.nom_competition.label }} {{ form.nom_competition }}
            </div>
            {{ form.sexe_competition.label }}
            <div id = "radio">
                {{ form.sexe_competition }}
            </div>
            <div class = "form-group">
                {{ form.nom_arme.label }} {{ form.nom_arme(class = "form-select") }}
            </div>
            <div id="categorie" class = "form-group">
                {{ form.nom_categorie.label }} {{ form.nom_categorie(class = "form-select") }}
            </div>
        </div>

        <button id="button" type="submit" class="btn btn-primary">Créer la compétition</button>
    </form>
</div>
{% endblock %}
