{% extends 'base.html' %}

{% block style %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename = 'escrimeur.css') }}" />
{% endblock %}

{% block content %}
<style>
  tbody tr:nth-child(even) {
    background-color: rgba(255, 0, 0, 0.2);
  }
 table {
    border: 1px solid black;
    width: 100%;
  }
  
 table thead>tr {
    border-bottom: 1px solid black;
  }
</style>
<a id="retour" href="{{ url_for('affiche_competition', id_compet = competition.id) }}"><button
  class="btn btn-outline-secondary">Retour à la compétition : {{competition.nom}} </button></a>
  <div class="escrimeur-info">
    <h2>Informations sur l'escrimeur</h2>
    <p>
      <strong>Nom:</strong> {{ escrimeur.nom }}
    </p>
    <p>
      <strong>Prénom:</strong> {{ escrimeur.prenom }}
    </p>
    <p>
      <strong>Date de naissance:</strong> {{ escrimeur.date_naissance }}
    </p>
    <p>
      <strong>Numéro de licence:</strong> {{ escrimeur.num_licence }}
    </p>
    <p>
      <strong>Club:</strong> {{ escrimeur.get_club() }}
    </p>
    <p>
      <strong>Sexe:</strong> {{ escrimeur.get_sexe() }}
    </p>
  </div>

  <div class="competition-info">
    <h2>Informations sur la compétition</h2>
    <p>
      <strong>Nom:</strong> {{ competition.nom }}
    </p>
    <p>
      <strong>Date:</strong> {{ competition.date.strftime(to_date) }}
    </p>
    <table style="text-align: center; border-collapse: collapse; width: 100%;">
      <thead>
        <tr>
          <th colspan="5" style="white-space: nowrap;
          background-color: rgba(255, 0, 0, 0.9);
          color: white;">Récapitulatif des matchs</th>
        </tr>
        <tr>
          <th>Résultats</th>
          <th>Matchs</th>
          <th>Phase</th>
          <th>Scores</th>
          <th>Adversaires</th>
        </tr>
      </thead>
      <tbody style="tbody tr:nth-child(even) {
        background-color: rgba(255, 0, 0, 0.2);
      }">
        {% for participation in escrimeur.get_info_participation(competition.id) %}
          {% with id_match = participation.id_match %}
            {% if participation.get_phase().libelle == 'Poule' %}
                <tr>
                    <td>{{ participation.statut }}</td>
                    <td>{{ participation.id_match }}</td>
                    <td>{{ participation.get_phase().libelle }} {{ participation.get_phase().id }}</td>
                    <td>{{ participation.touches }} - {{ competition.get_participation(escrimeur.num_licence, participation.get_phase().id, id_match).touches }}</td>
                    <td>{{ participation.get_concurrent().prenom }} {{ participation.get_concurrent().nom }}</td>
                </tr>
            {% else %}
                <tr>
                  <td>{{ participation.statut }}</td>
                  <td>{{ participation.id_match }}</td>
                  <td>{{ participation.get_phase().libelle }}</td>
                  <td>{{ participation.touches }} - {{ competition.get_participation(escrimeur.num_licence, participation.get_phase().id, id_match).touches }}</td>
                  <td>{{ participation.get_concurrent().prenom }} {{ participation.get_concurrent().nom }}</td>
                </tr>
            {% endif %}
          {% endwith %}
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
