{% extends "base.html" %}

{% block style %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='escrimeur.css') }}">
{% endblock %}

{% block content %}
<div class="escrimeur-info">
    <h2>Informations sur l'escrimeur</h2>
    <p><strong>Nom:</strong> {{ escrimeur.nom }}</p>
    <p><strong>Prénom:</strong> {{ escrimeur.prenom }}</p>
    <p><strong>Date de naissance:</strong> {{ escrimeur.date_naissance }}</p>
    <p><strong>Numéro de licence:</strong> {{ escrimeur.num_licence }}</p>
    <p><strong>Club:</strong> {{ escrimeur.get_club() }}</p>
    <p><strong>Sexe:</strong> {{ escrimeur.get_sexe() }}</p>
</div>

<div class="competition-info">
    <h2>Informations sur la compétition</h2>
    <p><strong>Nom:</strong> {{ competition.nom }}</p>
    <p><strong>Date:</strong> {{ competition.date }}</p>
    {% for participation in escrimeur.get_info_participation(competition.id) %}
        {% if participation.get_phase().libelle == "Poule" %}
            {% if participation.statut == "Vainqueur" %}
                <p>Vainqueur du match {{participation.id_match}} de la poule {{ participation.get_phase().id }} contre {{ participation.get_concurrent().nom }} avec {{ participation.touches }} touches</p>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
