<!DOCTYPE html>
<html lang="fr">
  <head>
    {% block head %}
      <!-- Required meta tags -->
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <link rel="icon" href="{{ url_for('static', filename = 'images/favicon.png') }}" />
      {% block styles %}
        <!-- Bootstrap CSS -->
        {{ bootstrap.load_css() }}
        <!-- Custom styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename = 'match.css') }}" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous" />
      {% endblock %}

      <title>Compétition ESCRIME</title>
    {% endblock %}
  </head>

  <body>
    <a id="retour" href="{{ url_for('affiche_poule', id_compet = competition.id, id_poule = poule.id) }}"><button class="btn btn-primary">Retour à la phase</button></a>
    {% if match.etat == constants.MATCH_A_VENIR %}
      <span id="message">
        Le match n'a pas encore commencé.<form action="{{ url_for('affiche_match', id_compet = competition.id, id_poule = poule.id, id_match = match.id) }}" method="post" role="form_start">
          {{ form_start.hidden_tag() }}
          <button class="btn btn-primary">Commencer le match</button>
        </form>
      </span>
    {% endif %}
    {% for participation in participations %}
      <div class="tireur">
        {% with participant = participation.get_escrimeur() %}
          <span class="nom">{{ participant.nom[0] }}.{{ participant.prenom }}</span>
          <div class="points" onclick="ajoutpoints(this)">
            <p>
              <span>0</span> touche(s)
            </p>
          </div>
          <div class="moins" onclick="retirepoints(this)">
            <p>
              <span>-</span>
            </p>
          </div>
        {% endwith %}
      </div>
      {% if loop.first %}
        <div id="informations">
          <div>
            {% with arbitre = poule.get_arbitre() %}
              <span>{{ arbitre.nom[0] }}.{{ arbitre.prenom }}</span>
            {% endwith %}
            <span>{{ match.phase.libelle }} {{ poule.id }}</span>
            <span>Piste {{ match.piste }}</span>
            <span><span id="touches-max">{{ match.phase.type.touches_victoire }}</span> touches maxi</span>
          </div>
          <span></span>
          {% if match.etat != constants.MATCH_A_VENIR %}
            <button onclick="valider()" class="btn btn-success">Valider</button>
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
    <aside id="valider">
      <form action="{{ url_for('valide_resultats', id_compet = competition.id, id_poule = poule.id, id_match = match.id) }}" method="post" role="form_match">
        {{ form_match.hidden_tag() }}
        <div class="form-group">
          {% with participant = participations[0].get_escrimeur() %}
            {{ participant.nom }} {{ participant.prenom }} {{ form_match.touches1(onchange = 'checkPoints()') }}
          {% endwith %}
        </div>
        <div class="form-group">
          {% with participant = participations[1].get_escrimeur() %}
            {{ participant.nom }} {{ participant.prenom }} {{ form_match.touches2(onchange = 'checkPoints()') }}
          {% endwith %}
        </div>
        <button class="btn btn-success" id="bouton-valider">Valider</button>
      </form>
      <button onclick="document.getElementById('valider').classList.remove('visible');" class="btn btn-secondary">Fermer</button>
    </aside>
    <script style="display: none;">
      let touchesMax = document.getElementById('touches-max').innerHTML
      function valider() {
        let points = document.querySelectorAll('.points')
        let touches1 = 0
        let touches2 = 0
        for (let i = 0; i < points.length; i++) {
          if (i % 2 == 0) {
            touches1 += parseInt(points[i].querySelector('span').innerHTML)
          } else {
            touches2 += parseInt(points[i].querySelector('span').innerHTML)
          }
        }
        document.querySelector('input[name="touches1"]').value = touches1
        document.querySelector('input[name="touches2"]').value = touches2
        document.getElementById('valider').classList.add('visible')
        let boutton = document.getElementById('bouton-valider')
        if (touches1 == touches2 || touches1 + touches2 == 0) {
          boutton.disabled = true
          boutton.innerHTML = 'Le score ne peut pas être nul'
        } else if (touches1 > touchesMax || touches2 > touchesMax) {
          boutton.disabled = true
          boutton.innerHTML = 'Le score ne peut pas être supérieur au nombre de touches maximum'
        } else {
          boutton.disabled = false
          boutton.innerHTML = 'Valider'
        }
      }
      
      function checkPoints() {
        let touches1 = document.querySelector('input[name="touches1"]').value
        document.querySelector('.tireur:nth-child(2) .points span').innerHTML = (touches1>touchesMax) ? touchesMax : (touches1<0) ? 0 : touches1
        let touches2 = document.querySelector('input[name="touches2"]').value
        document.querySelector('.tireur:nth-child(4) .points span').innerHTML = (touches2>touchesMax) ? touchesMax : (touches2<0) ? 0 : touches2
        let boutton = document.getElementById('bouton-valider')
        if (touches1 == touches2 || touches1 + touches2 == 0) {
          boutton.disabled = true
          boutton.innerHTML = 'Le score ne peut pas être nul'
        } else if (touches1 > touchesMax || touches2 > touchesMax) {
          boutton.disabled = true
          boutton.innerHTML = 'Le score ne peut pas être supérieur au nombre de touches maximum'
        } else {
          boutton.disabled = false
          boutton.innerHTML = 'Valider'
        }
      }
      
      function ajoutpoints(elem) {
        elem = elem.querySelector('span')
        if (parseInt(elem.innerHTML) < touchesMax) elem.innerHTML = parseInt(elem.innerHTML) + 1
      }
      
      function retirepoints(elem) {
        elem = elem.previousElementSibling.querySelector('span')
        if (parseInt(elem.innerHTML) > 0) {
          elem.innerHTML = parseInt(elem.innerHTML) - 1
        }
      }
    </script>
  </body>
</html>
