{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='poule.css')}}">
{% endblock %}
{% block content %}
<div class="titre">
    <h1>Poule A</h1>
    <div class="status">
        <svg width="100" height="15" id="codeCouleur">
            <circle cx="7.5" cy="7.5" r="3.75" fill="orange"/>
            <text x="25" y="7.5" dominant-baseline="middle">A Venir</text>
        </svg>
        <svg width="100" height="15" id="codeCouleur">
            <circle cx="7.5" cy="7.5" r="3.75" fill="green"/>
            <text x="25" y="7.5" dominant-baseline="middle">En cours</text>
        </svg>
        <svg width="100" height="15" id="codeCouleur">
            <circle cx="7.5" cy="7.5" r="3.75" fill="cornflowerblue"/>
            <text x="25" y="7.5" dominant-baseline="middle">Terminé</text>
        </svg>
    </div>
</div>
<div id="gros">
    <div class="petit avenir">
        <div class="head">
            <p>14h30</p>
            <p>Lieux</p>
            <p>Piste 1</p>
        </div>
        <div>
            <p>JUNIOR N. (1980 pts)</p>
            <p>0-5</p>
            <p>DUPONT X. (1453 pts)</p>
        </div>
        <div class="foot">
            <p>Arbitré par Arbitre</p>
        </div>
    </div>
    <div class="petit encours">
        <div class="head">
            <p>14h30</p>
            <p>Lieux</p>
            <p>Piste 1</p>
        </div>
        <div>
            <p>JUNIOR N. (1980 pts)</p>
            <p>DUPONT X. (1453 pts)</p>
        </div>
        <div class="foot">
            <p>Arbitré par Arbitre</p>
        </div>
    </div>
    <div class="petit termine">
        <div class="head">
            <p>14h30</p>
            <p>Lieux</p>
            <p>Piste 1</p>
        </div>
        <div>
            <p>JUNIOR N. (1980 pts)</p>
            <p>DUPONT X. (1453 pts)</p>
        </div>
        <div class="foot">
            <p>Arbitré par Arbitre</p>
        </div>
    </div>
    <div class="petit avenir">
        <div class="head">
            <p>14h30</p>
            <p>Lieux</p>
            <p>Piste 1</p>
        </div>
        <div>
            <p>JUNIOR N. (1980 pts)</p>
            <p>DUPONT X. (1453 pts)</p>
        </div>
        <div class="foot">
            <p>Arbitré par Arbitre</p>
        </div>
    </div>
    <div class="petit avenir">
        <div class="head">
            <p>14h30</p>
            <p>Lieux</p>
            <p>Piste 1</p>
        </div>
        <div>
            <p>JUNIOR N. (1980 pts)</p>
            <p>0-5</p>
            <p>DUPONT X. (1453 pts)</p>
        </div>
        <div class="foot">
            <p>Arbitré par Arbitre</p>
        </div>
    </div>
    <div class="petit encours">
        <div class="head">
            <p>14h30</p>
            <p>Lieux</p>
            <p>Piste 1</p>
        </div>
        <div>
            <p>JUNIOR N. (1980 pts)</p>
            <p>DUPONT X. (1453 pts)</p>
        </div>
        <div class="foot">
            <p>Arbitré par Arbitre</p>
        </div>
    </div>
    <div class="petit termine">
        <div class="head">
            <p>14h30</p>
            <p>Lieux</p>
            <p>Piste 1</p>
        </div>
        <div>
            <p>JUNIOR N. (1980 pts)</p>
            <p>DUPONT X. (1453 pts)</p>
        </div>
        <div class="foot">
            <p>Arbitré par Arbitre</p>
        </div>
    </div>
    <div class="petit avenir">
        <div class="head">
            <p>14h30</p>
            <p>Lieux</p>
            <p>Piste 1</p>
        </div>
        <div>
            <p>JUNIOR N. (1980 pts)</p>
            <p>DUPONT X. (1453 pts)</p>
        </div>
        <div class="foot">
            <p>Arbitré par Arbitre</p>
        </div>
    </div>
    <div class="petit avenir">
        <div class="head">
            <p>14h30</p>
            <p>Lieux</p>
            <p>Piste 1</p>
        </div>
        <div>
            <p>JUNIOR N. (1980 pts)</p>
            <p>0-5</p>
            <p>DUPONT X. (1453 pts)</p>
        </div>
        <div class="foot">
            <p>Arbitré par Arbitre</p>
        </div>
    </div>
    <div class="petit encours">
        <div class="head">
            <p>14h30</p>
            <p>Lieux</p>
            <p>Piste 1</p>
        </div>
        <div>
            <p>JUNIOR N. (1980 pts)</p>
            <p>DUPONT X. (1453 pts)</p>
        </div>
        <div class="foot">
            <p>Arbitré par Arbitre</p>
        </div>
    </div>
    <div class="petit termine">
        <div class="head">
            <p>14h30</p>
            <p>Lieux</p>
            <p>Piste 1</p>
        </div>
        <div>
            <p>JUNIOR N. (1980 pts)</p>
            <p>DUPONT X. (1453 pts)</p>
        </div>
        <div class="foot">
            <p>Arbitré par Arbitre</p>
        </div>
    </div>
    <div class="petit avenir">
        <div class="head">
            <p>14h30</p>
            <p>Lieux</p>
            <p>Piste 1</p>
        </div>
        <div>
            <p>JUNIOR N. (1980 pts)</p>
            <p>DUPONT X. (1453 pts)</p>
        </div>
        <div class="foot">
            <p>Arbitré par Arbitre</p>
        </div>
    </div>
</div>
{% endblock %}