{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='profil.css')}}">
{% endblock %}
{% block content %}
<h1>Mon profil</h1>

<section id="fond">
    <ul class="info">
        <li id="infoP">
            <h2>Informations personnelles</h2>
            <ul class="informations">
                <li class="infoIndiv">
                    <h3>Nom</h3>
                    <p>{{ current_user.nom }}</p>
                </li>
                <li class="infoIndiv">
                    <h3>Prénom</h3>
                    <p>{{ current_user.prenom }}</p>
                </li>
                <li class="infoIndiv">
                    <h3>Sexe</h3>
                    <p>{{ current_user.sexe }}</p>
                </li>
                <li class="infoIndiv">
                    <h3>Naissance</h3>
                    <p>{{ current_user.date_naissance.strftime(to_date) }}</p>
                </li>
                <li>
                    <h3>Mot de passe</h3>
                    <a href="{{ url_for('changer_mdp') }}">
                        <button class="btn btn-primary" role="button">Changer le mot de passe</button>
                    </a>
                </li>
            </ul>
        </li>

        <li id="infoE">
            <h2>Informations d'escrimes</h2>
            <ul class="informations">
                <li class="infoIndiv">
                    <h3>Numéro de licence</h3>
                    <p>{{ current_user.num_licence }}</p>
                </li>
                <li class="infoIndiv">
                    <h3>Club</h3>
                    <p>{{ current_user.get_club() }}</p>
                </li>
            </ul>
        </li>
        <li id="historique">
            <h2>Historique des compétitions</h2>
            <table>
                <thead>
                    <tr>
                        <th>Compétition</th>
                        <th>Catégorie</th>
                        <th>Arme</th>
                        <th>Coefficient</th>
                        <th>Date</th>
                        <th>Participants</th>
                        <th>Résultat</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for resultat in current_user.get_historique_resultat() %}
                    {% if resultat.rang != ""  %}
                    {% with competition = rq.get_competition(resultat.id_competition) %}
                    <tr>
                        <td>{{competition.nom}}</td>
                        <td>{{rq.get_categorie(competition.id_categorie).libelle}}</td>
                        <td>{{rq.get_arme(competition.id_arme).libelle}}</td>
                        <td>{{competition.coefficient}}</td>
                        <td>{{competition.date.strftime(to_date)}}</td>
                        <td>{{competition.get_nb_participants()}}</td>
                        <td>{{resultat.rang}}</td>
                        <td><a href="{{url_for('affiche_competition', id_compet=competition.id)}}"><button class="favorite styled" type="button" >Voir plus</button></a></td>
                    </tr>
                    {% endwith %}
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </li>
    </ul>
</section>
{% endblock %}